In [28]:
import numpy as np

# Subway ridership for 5 stations on 10 different days
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

# Change False to True for each block of code to see what it does

# Accessing elements
if False:
    print ridership[1, 3]
    print ridership[1:3, 3:5]
    print ridership[1, :]
    
# Vectorized operations on rows or columns
if False:
    print ridership[0, :] + ridership[1, :]
    print ridership[:, 0] + ridership[:, 1]
    
# Vectorized operations on entire arrays
if False:
    a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
    b = np.array([[1, 1, 1], [2, 2, 2], [3, 3, 3]])
    print a + b

def mean_riders_for_max_station(ridership):
    '''
    Fill in this function to find the station with the maximum riders on the
    first day, then return the mean riders per day for that station. Also
    return the mean ridership overall for comparsion.
    
    Hint: NumPy's argmax() function might be useful:
    http://docs.scipy.org/doc/numpy/reference/generated/numpy.argmax.html
    '''
    max_station = ridership[0,:].argmax()
    
    overall_mean = ridership.mean() # Replace this with your code
    mean_for_max = ridership[:, max_station].mean() # Replace this with your code
    
    return (overall_mean, mean_for_max)

In [29]:
# Change False to True for this block of code to see what it does

# NumPy axis argument
if False:
    a = np.array([
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ])
    
    print a.sum()
    print a.sum(axis=0)
    print a.sum(axis=1)
    
# Subway ridership for 5 stations on 10 different days
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

def min_and_max_riders_per_day(ridership):
    '''
    Fill in this function. First, for each subway station, calculate the
    mean ridership per day. Then, out of all the subway stations, return the
    maximum and minimum of these values. That is, find the maximum
    mean-ridership-per-day and the minimum mean-ridership-per-day for any
    subway station.
    '''
    max_daily_ridership = ridership.mean(axis=0).max()    # Replace this with your code
    min_daily_ridership = ridership.mean(axis=0).min()   # Replace this with your code
    
    return (max_daily_ridership, min_daily_ridership)

In [34]:
import pandas as pd

# Subway ridership for 5 stations on 10 different days
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

# Change False to True for each block of code to see what it does

# DataFrame creation
if False:
    # You can create a DataFrame out of a dictionary mapping column names to values
    df_1 = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print df_1

    # You can also use a list of lists or a 2D NumPy array
    df_2 = pd.DataFrame([[0, 1, 2], [3, 4, 5]], columns=['A', 'B', 'C'])
    print df_2
   

# Accessing elements
if False:
    print ridership_df.iloc[0]
    print ridership_df.loc['2011-05-05']
    print ridership_df['R002']
    print ridership_df.iloc[1, 3]
    
# Accessing multiple rows
if False:
    print ridership_df.iloc[1:4]
    
# Accessing multiple columns
if False:
    print ridership_df[['R003', 'R005']]
    
# Pandas axis
if False:
    df = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print df.sum()
    print df.sum(axis=1)
    print df.values.sum()
    
def mean_riders_for_max_station(ridership):
    '''
    Fill in this function to find the station with the maximum riders on the
    first day, then return the mean riders per day for that station. Also
    return the mean ridership overall for comparsion.
    
    This is the same as a previous exercise, but this time the
    input is a Pandas DataFrame rather than a 2D NumPy array.
    '''
    col_index = ridership.iloc[0].argmax()
    
    overall_mean = ridership.values.mean() # Replace this with your code
    mean_for_max = ridership[col_index].mean() # Replace this with your code
    
    return (overall_mean, mean_for_max)

In [81]:

filename = 'datasets/nyc_subway_weather.csv'
subway_df = pd.read_csv(filename)

def correlation(x, y):
    '''
    Fill in this function to compute the correlation between the two
    input variables. Each input is either a NumPy array or a Pandas
    Series.
    
    correlation = average of (x in standard units) times (y in standard units)
    
    Remember to pass the argument "ddof=0" to the Pandas std() function!
    '''
    x_std = (x - x.mean()) / x.std(ddof=0)
    y_std = (y - y.mean()) / y.std(ddof=0)
    
    pearson = x_std * y_std
    out = pearson.mean()
    
    return out

entries = subway_df['ENTRIESn_hourly']
cum_entries = subway_df['ENTRIESn']
rain = subway_df['meanprecipi']
temp = subway_df['meantempi']

print correlation(entries, rain)
print correlation(entries, temp)
print correlation(rain, temp)

print correlation(entries, cum_entries)

None
None
None
None

In [82]:
subway_df

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,...,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,05-01-11,00:00:00,4388333,2911002,0,0,2011-05-01 00:00:00,0,6,...,30.22,0,55.9,3.5,0.000000,30.258000,55.980000,7.860000,40.700348,-73.887177
1,R003,05-01-11,04:00:00,4388333,2911002,0,0,2011-05-01 04:00:00,4,6,...,30.25,0,52.0,3.5,0.000000,30.258000,55.980000,7.860000,40.700348,-73.887177
2,R003,05-01-11,12:00:00,4388333,2911002,0,0,2011-05-01 12:00:00,12,6,...,30.28,0,62.1,6.9,0.000000,30.258000,55.980000,7.860000,40.700348,-73.887177
3,R003,05-01-11,16:00:00,4388333,2911002,0,0,2011-05-01 16:00:00,16,6,...,30.26,0,57.9,15.0,0.000000,30.258000,55.980000,7.860000,40.700348,-73.887177
4,R003,05-01-11,20:00:00,4388333,2911002,0,0,2011-05-01 20:00:00,20,6,...,30.28,0,52.0,10.4,0.000000,30.258000,55.980000,7.860000,40.700348,-73.887177
5,R003,05-02-11,00:00:00,4388348,2911036,15,34,2011-05-02 00:00:00,0,0,...,30.31,0,50.0,6.9,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
6,R003,05-02-11,04:00:00,5818689,3874767,19,40,2011-05-02 04:00:00,4,0,...,30.27,0,50.0,4.6,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
7,R003,05-02-11,08:00:00,4388855,2911194,488,118,2011-05-02 08:00:00,8,0,...,30.30,0,53.1,10.4,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
8,R003,05-02-11,12:00:00,4389345,2911326,490,132,2011-05-02 12:00:00,12,0,...,30.24,0,57.0,11.5,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
9,R003,05-02-11,16:00:00,4389576,2911558,231,232,2011-05-02 16:00:00,16,0,...,30.16,0,59.0,11.5,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
10,R003,05-02-11,20:00:00,4389811,2911963,235,405,2011-05-02 20:00:00,20,0,...,30.15,0,55.9,4.6,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
11,R003,05-03-11,00:00:00,4389885,2912127,74,164,2011-05-03 00:00:00,0,1,...,30.13,0,54.0,4.6,0.000000,30.048000,58.940000,8.060000,40.700348,-73.887177
12,R003,05-03-11,04:00:00,4389905,2912160,20,33,2011-05-03 04:00:00,4,1,...,30.11,0,51.8,5.8,0.000000,30.048000,58.940000,8.060000,40.700348,-73.887177
13,R003,05-03-11,12:00:00,4390880,2912394,975,234,2011-05-03 12:00:00,12,1,...,30.07,0,60.8,9.2,0.000000,30.048000,58.940000,8.060000,40.700348,-73.887177
14,R003,05-03-11,16:00:00,4391147,2912651,267,257,2011-05-03 16:00:00,16,1,...,29.98,0,66.0,9.2,0.000000,30.048000,58.940000,8.060000,40.700348,-73.887177
15,R003,05-03-11,20:00:00,4391424,2913049,277,398,2011-05-03 20:00:00,20,1,...,29.95,0,62.1,11.5,0.000000,30.048000,58.940000,8.060000,40.700348,-73.887177
16,R003,05-04-11,00:00:00,4391507,2913223,83,174,2011-05-04 00:00:00,0,2,...,29.94,1,59.0,9.2,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
17,R003,05-04-11,04:00:00,4391531,2913258,24,35,2011-05-04 04:00:00,4,2,...,29.91,1,60.1,0.0,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
18,R003,05-04-11,08:00:00,4392063,2913388,532,130,2011-05-04 08:00:00,8,2,...,29.94,1,55.4,15.0,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
19,R003,05-04-11,12:00:00,4392517,2913495,454,107,2011-05-04 12:00:00,12,2,...,29.96,1,51.1,11.5,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
20,R003,05-04-11,16:00:00,4392764,2913744,247,249,2011-05-04 16:00:00,16,2,...,29.96,1,48.0,18.4,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
21,R003,05-04-11,20:00:00,4392984,2914100,220,356,2011-05-04 20:00:00,20,2,...,30.01,1,50.0,16.1,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
22,R003,05-05-11,00:00:00,4393043,2914284,59,184,2011-05-05 00:00:00,0,3,...,30.01,0,48.9,16.1,0.000000,29.944000,55.720000,15.220000,40.700348,-73.887177
23,R003,05-05-11,04:00:00,4393062,2914319,19,35,2011-05-05 04:00:00,4,3,...,29.98,0,48.0,12.7,0.000000,29.944000,55.720000,15.220000,40.700348,-73.887177
24,R003,05-05-11,12:00:00,4394057,2914509,995,190,2011-05-05 12:00:00,12,3,...,29.91,0,60.8,15.0,0.000000,29.944000,55.720000,15.220000,40.700348,-73.887177
25,R003,05-05-11,16:00:00,4394364,2914754,307,245,2011-05-05 16:00:00,16,3,...,29.88,0,63.0,19.6,0.000000,29.944000,55.720000,15.220000,40.700348,-73.887177
26,R003,05-05-11,20:00:00,4394592,2915145,228,391,2011-05-05 20:00:00,20,3,...,29.94,0,57.9,12.7,0.000000,29.944000,55.720000,15.220000,40.700348,-73.887177
27,R003,05-06-11,00:00:00,4394665,2915321,73,176,2011-05-06 00:00:00,0,4,...,29.97,0,55.0,3.5,0.000000,29.918000,60.580000,11.300000,40.700348,-73.887177
28,R003,05-06-11,04:00:00,4394687,2915369,22,48,2011-05-06 04:00:00,4,4,...,29.96,0,52.0,8.1,0.000000,29.918000,60.580000,11.300000,40.700348,-73.887177
29,R003,05-06-11,12:00:00,4395657,2915590,970,221,2011-05-06 12:00:00,12,4,...,29.94,0,68.0,16.1,0.000000,29.918000,60.580000,11.300000,40.700348,-73.887177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42619,R464,05-26-11,16:00:00,419894,95280,0,0,2011-05-26 16:00:00,16,3,...,29.89,0,69.1,9.2,0.000000,29.922000,66.640000,7.160000,40.660004,-73.844849
42620,R464,05-26-11,20:00:00,419894,95280,0,0,2011-05-26 20:00:00,20,3,...,29.88,0,66.9,8.1,0.000000,29.922000,66.640000,7.160000,40.660004,-73.844849
42621,R464,05-27-11,00:00:00,419894,95280,0,0,2011-05-27 00:00:00,0,4,...,29.92,0,66.0,4.6,0.000000,29.948000,69.160000,12.680000,40.660004,-73.844849
42622,R464,05-27-11,04:00:00,419894,95280,0,0,2011-05-27 04:00:00,4,4,...,29.94,0,64.0,3.5,0.000000,29.948000,69.160000,12.680000,40.660004,-73.844849
42623,R464,05-27-11,12:00:00,419894,95280,0,0,2011-05-27 12:00:00,12,4,...,29.99,0,73.0,12.7,0.000000,29.948000,69.160000,12.680000,40.660004,-73.844849
42624,R464,05-27-11,16:00:00,419894,95280,0,0,2011-05-27 16:00:00,16,4,...,29.93,0,75.9,20.7,0.000000,29.948000,69.160000,12.680000,40.660004,-73.844849
42625,R464,05-27-11,20:00:00,419894,95280,0,0,2011-05-27 20:00:00,20,4,...,29.96,0,66.9,21.9,0.000000,29.948000,69.160000,12.680000,40.660004,-73.844849
42626,R464,05-28-11,00:00:00,419894,95280,0,0,2011-05-28 00:00:00,0,5,...,30.00,0,66.0,4.6,0.000000,30.032000,69.780000,10.360000,40.660004,-73.844849
42627,R464,05-28-11,04:00:00,419894,95280,0,0,2011-05-28 04:00:00,4,5,...,30.00,0,64.0,6.9,0.000000,30.032000,69.780000,10.360000,40.660004,-73.844849
42628,R464,05-28-11,12:00:00,419894,95280,0,0,2011-05-28 12:00:00,12,5,...,30.05,0,77.0,11.5,0.000000,30.032000,69.780000,10.360000,40.660004,-73.844849
42629,R464,05-28-11,16:00:00,419894,95280,0,0,2011-05-28 16:00:00,16,5,...,30.05,0,73.9,15.0,0.000000,30.032000,69.780000,10.360000,40.660004,-73.844849
42630,R464,05-28-11,20:00:00,419894,95280,0,0,2011-05-28 20:00:00,20,5,...,30.06,0,68.0,13.8,0.000000,30.032000,69.780000,10.360000,40.660004,-73.844849
42631,R464,05-29-11,00:00:00,419894,95280,0,0,2011-05-29 00:00:00,0,6,...,30.09,0,66.0,9.2,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42632,R464,05-29-11,04:00:00,419894,95280,0,0,2011-05-29 04:00:00,4,6,...,30.09,0,64.9,6.9,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42633,R464,05-29-11,08:00:00,129127,35492,0,0,2011-05-29 08:00:00,8,6,...,30.13,0,66.2,6.9,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42634,R464,05-29-11,12:00:00,419894,95280,0,0,2011-05-29 12:00:00,12,6,...,30.13,0,75.9,10.4,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42635,R464,05-29-11,16:00:00,419894,95280,0,0,2011-05-29 16:00:00,16,6,...,30.06,0,75.0,18.4,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42636,R464,05-29-11,20:00:00,419894,95280,0,0,2011-05-29 20:00:00,20,6,...,30.08,0,70.0,15.0,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42637,R464,05-30-11,00:00:00,419894,95280,0,0,2011-05-30 00:00:00,0,0,...,30.09,1,64.9,5.8,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42638,R464,05-30-11,04:00:00,419894,95280,0,0,2011-05-30 04:00:00,4,0,...,30.04,1,66.9,3.5,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42639,R464,05-30-11,08:00:00,129127,35492,0,0,2011-05-30 08:00:00,8,0,...,30.09,1,72.0,13.8,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42640,R464,05-30-11,12:00:00,419894,95280,0,0,2011-05-30 12:00:00,12,0,...,30.10,1,82.9,8.1,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42641,R464,05-30-11,16:00:00,419894,95280,0,0,2011-05-30 16:00:00,16,0,...,30.06,1,82.0,9.2,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42642,R464,05-30-11,20:00:00,419894,95280,0,0,2011-05-30 20:00:00,20,0,...,30.10,1,73.0,4.6,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42643,R464,05-31-11,00:00:00,419894,95280,0,0,2011-05-31 00:00:00,0,1,...,30.13,0,72.0,0.0,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849
42644,R464,05-31-11,04:00:00,567311,132804,0,0,2011-05-31 04:00:00,4,1,...,30.14,0,73.0,6.9,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849
42645,R464,05-31-11,08:00:00,290767,59788,0,0,2011-05-31 08:00:00,8,1,...,30.19,0,80.1,6.9,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849
42646,R464,05-31-11,12:00:00,419894,95280,0,0,2011-05-31 12:00:00,12,1,...,30.20,0,81.0,10.4,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849
42647,R464,05-31-11,16:00:00,419894,95280,0,0,2011-05-31 16:00:00,16,1,...,30.17,0,77.0,13.8,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849
42648,R464,05-31-11,20:00:00,419894,95280,0,0,2011-05-31 20:00:00,20,1,...,30.18,0,69.1,4.6,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849

In [97]:

# Cumulative entries and exits for one station for a few hours
entries_and_exits = pd.DataFrame({
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424, 3144594,
                 3144808, 3144895, 3144905, 3144941, 3145094],
    'EXITSn': [1088151, 1088159, 1088177, 1088231, 1088275,
               1088317, 1088328, 1088331, 1088420, 1088753]
})

# Change False to True for each block of code to see what it does

# Adding DataFrames with the column names
if True:
    df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
    df2 = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60], 'c': [70, 80, 90]})
    print df1 + df2
    
# Adding DataFrames with overlapping column names 
if True:
    df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
    df2 = pd.DataFrame({'d': [10, 20, 30], 'c': [40, 50, 60], 'b': [70, 80, 90]})
    print df1 + df2

# Adding DataFrames with overlapping row indexes
if True:
    df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]},
                       index=['row1', 'row2', 'row3'])
    df2 = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60], 'c': [70, 80, 90]},
                       index=['row4', 'row3', 'row2'])
    print df1 + df2
    
def get_hourly_entries_and_exits(entries_and_exits):
    '''
    Fill in this function to take a DataFrame with cumulative entries
    and exits (entries in the first column, exits in the second) and
    return a DataFrame with hourly entries and exits (entries in the
    first column, exits in the second).
    '''
    out = entries_and_exits - entries_and_exits.shift(1)
    
    return out

    a   b   c
0  11  44  77
1  22  55  88
2  33  66  99
    a   b   c   d
0 NaN  74  47 NaN
1 NaN  85  58 NaN
2 NaN  96  69 NaN
       a   b   c
row1 NaN NaN NaN
row2  32  65  98
row3  23  56  89
row4 NaN NaN NaN

In [106]:

# Change False to True for this block of code to see what it does

# DataFrame applymap()
if False:
    df = pd.DataFrame({
        'a': [1, 2, 3],
        'b': [10, 20, 30],
        'c': [5, 10, 15]
    })
    
    def add_one(x):
        return x + 1
        
    print df.applymap(add_one)
    
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

def convert(grade):
    if grade >= 90:
        out = 'A'
    elif grade >=80:
        out = 'B'
    elif grade >=70:
        out = 'C'
    elif grade >=60:
        out = 'D'
    else:
        out = 'F'
    return out
    
def convert_grades(grades):
    '''
    Fill in this function to convert the given DataFrame of numerical
    grades to letter grades. Return a new DataFrame with the converted
    grade.
    
    The conversion rule is:
        90-100 -> A
        80-89  -> B
        70-79  -> C
        60-69  -> D
        0-59   -> F
    '''
    
    out = grades.applymap(lambda x: convert(x))
    
    return out

In [108]:
def convert(grade):
    if grade >= 90:
        out = 'A'
    elif grade >=80:
        out = 'B'
    elif grade >=70:
        out = 'C'
    elif grade >=60:
        out = 'D'
    else:
        out = 'F'
    return out

out = grades_df.applymap(lambda x: convert(x))

In [120]:

grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

# Change False to True for this block of code to see what it does

# DataFrame apply()
if True:
    def convert_grades_curve(exam_grades):
        # Pandas has a bult-in function that will perform this calculation
        # This will give the bottom 0% to 10% of students the grade 'F',
        # 10% to 20% the grade 'D', and so on. You can read more about
        # the qcut() function here:
        # http://pandas.pydata.org/pandas-docs/stable/generated/pandas.qcut.html
        return pd.qcut(exam_grades,
                       [0, 0.1, 0.2, 0.5, 0.8, 1],
                       labels=['F', 'D', 'C', 'B', 'A'])
        
    # qcut() operates on a list, array, or Series. This is the
    # result of running the function on a single column of the
    # DataFrame.
    print convert_grades_curve(grades_df['exam1'])
    
    # qcut() does not work on DataFrames, but we can use apply()
    # to call the function on each column separately
    print grades_df.apply(convert_grades_curve)

    
def standard(column):
    x_bar = column.mean()
    x_std = column.std(ddof=0)
    return (column - x_bar) / x_std
    
def standardize(df):
    '''
    Fill in this function to standardize each column of the given
    DataFrame. To standardize a variable, convert each value to the
    number of standard deviations it is above or below the mean.
    '''
    
    out = df.apply(standard)
    
    return out

Andre      F
Barry      B
Chris      C
Dan        C
Emilio     B
Fred       C
Greta      A
Humbert    D
Ivan       A
James      B
Name: exam1, dtype: category
Categories (5, object): [F < D < C < B < A]
        exam1 exam2
Andre       F     F
Barry       B     B
Chris       C     C
Dan         C     C
Emilio      B     B
Fred        C     C
Greta       A     A
Humbert     D     D
Ivan        A     A
James       B     B

In [152]:
df = pd.DataFrame({
    'a': [4, 5, 3, 1, 2],
    'b': [20, 10, 40, 50, 30],
    'c': [25, 20, 5, 15, 10]
})

# Change False to True for this block of code to see what it does

# DataFrame apply() - use case 2
if True:   
    print df.apply(np.mean)
    print df.apply(np.max)

def order(x):
    out = x.sort_values(ascending=False)
    return out.iloc[1]
    
def second_largest(df):
    '''
    Fill in this function to return the second-largest value of each 
    column of the input DataFrame.
    '''
    out = df.apply(order)
    
    return out

a     3
b    30
c    15
dtype: float64
a     5
b    50
c    25
dtype: int64

In [166]:
# Change False to True for each block of code to see what it does

# Adding a Series to a square DataFrame
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df + s
    
# Adding a Series to a one-row DataFrame 
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({0: [10], 1: [20], 2: [30], 3: [40]})
    
    print df
    print '' # Create a blank line between outputs
    print df + s

# Adding a Series to a one-column DataFrame
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({0: [10, 20, 30, 40]})
    
    print df
    print '' # Create a blank line between outputs
    print df + s
    

    
# Adding when DataFrame column names match Series index
if True:
    s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    df = pd.DataFrame({
        'a': [10, 20, 30, 40],
        'b': [50, 60, 70, 80],
        'c': [90, 100, 110, 120],
        'd': [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df + s
    
# Adding when DataFrame column names don't match Series index
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        'a': [10, 20, 30, 40],
        'b': [50, 60, 70, 80],
        'c': [90, 100, 110, 120],
        'd': [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df + s

    0   1    2    3
0  10  50   90  130
1  20  60  100  140
2  30  70  110  150
3  40  80  120  160

    0   1    2    3
0  11  52   93  134
1  21  62  103  144
2  31  72  113  154
3  41  82  123  164
    0   1   2   3
0  10  20  30  40

    0   1   2   3
0  11  22  33  44
    0
0  10
1  20
2  30
3  40

    0   1   2   3
0  11 NaN NaN NaN
1  21 NaN NaN NaN
2  31 NaN NaN NaN
3  41 NaN NaN NaN
    a   b    c    d
0  10  50   90  130
1  20  60  100  140
2  30  70  110  150
3  40  80  120  160

    a   b    c    d
0  11  52   93  134
1  21  62  103  144
2  31  72  113  154
3  41  82  123  164
    a   b    c    d
0  10  50   90  130
1  20  60  100  140
2  30  70  110  150
3  40  80  120  160

    0   1   2   3   a   b   c   d
0 NaN NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN

In [178]:
# Adding using +
if False:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df + s
    
# Adding with axis='index'
if False:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df.add(s, axis='index')
    # The functions sub(), mul(), and div() work similarly to add()
    
# Adding with axis='columns'
if False:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df.add(s, axis='columns')
    # The functions sub(), mul(), and div() work similarly to add()
    
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

def standardize(df):
    '''
    Fill in this function to standardize each column of the given
    DataFrame. To standardize a variable, convert each value to the
    number of standard deviations it is above or below the mean.
    
    This time, try to use vectorized operations instead of apply().
    You should get the same results as you did before.
    '''
    out = (df - df.mean()) / df.std(ddof=1)
    
    return out

def standardize_rows(df):
    '''
    Optional: Fill in this function to standardize each row of the given
    DataFrame. Again, try not to use apply().
    
    This one is more challenging than standardizing each column!
    '''
    out = (df.add(-df.mean(axis='columns'), axis='index')).multiply(1/df.std(ddof=1, axis='columns'), axis='index')
    
    return out

In [193]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

values = np.array([1, 3, 2, 4, 1, 6, 4])
example_df = pd.DataFrame({
    'value': values,
    'even': values % 2 == 0,
    'above_three': values > 3 
}, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

# Change False to True for each block of code to see what it does

# Examine DataFrame
if False:
    print example_df
    
# Examine groups
if False:
    grouped_data = example_df.groupby('even')
    # The groups attribute is a dictionary mapping keys to lists of row indexes
    print grouped_data.groups
    
# Group by multiple columns
if False:
    grouped_data = example_df.groupby(['even', 'above_three'])
    print grouped_data.groups
    
# Get sum of each group
if False:
    grouped_data = example_df.groupby('even')
    print grouped_data.sum()
    
# Limit columns in result
if False:
    grouped_data = example_df.groupby('even')
    
    # You can take one or more columns from the result DataFrame
    print grouped_data.sum()['value']
    
    print '\n' # Blank line to separate results
    
    # You can also take a subset of columns from the grouped data before 
    # collapsing to a DataFrame. In this case, the result is the same.
    print grouped_data['value'].sum()
    
filename = 'datasets/nyc_subway_weather.csv'
subway_df = pd.read_csv(filename)

### Write code here to group the subway data by a variable of your choice, then
### either print out the mean ridership within each group or create a plot.
%matplotlib notebook
subway_df.groupby('DATEn').mean()['ENTRIESn'].plot()

In [207]:

values = np.array([1, 3, 2, 4, 1, 6, 4])
example_df = pd.DataFrame({
    'value': values,
    'even': values % 2 == 0,
    'above_three': values > 3 
}, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

# Change False to True for each block of code to see what it does

# Standardize each group
if False:
    def standardize(xs):
        return (xs - xs.mean()) / xs.std()
    grouped_data = example_df.groupby('even')
    print grouped_data['value'].apply(standardize)
    
# Find second largest value in each group
if False:
    def second_largest(xs):
        sorted_xs = xs.sort(inplace=False, ascending=False)
        return sorted_xs.iloc[1]
    grouped_data = example_df.groupby('even')
    print grouped_data['value'].apply(second_largest)

ridership_df = pd.DataFrame({
    'UNIT': ['R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051'],
    'TIMEn': ['00:00:00', '02:00:00', '04:00:00', '06:00:00', '08:00:00', '10:00:00', '12:00:00', '14:00:00', '16:00:00'],
    'ENTRIESn': [3144312, 8936644, 3144335, 8936658, 3144353, 8936687, 3144424, 8936819, 3144594],
    'EXITSn': [1088151, 13755385,  1088159, 13755393,  1088177, 13755598, 1088231, 13756191,  1088275]
})

def hourly(x):
    out = x - x.shift(1)
    return out

def get_hourly_entries_and_exits(entries_and_exits):
    '''
    Fill in this function to take a DataFrame with cumulative entries
    and exits and return a DataFrame with hourly entries and exits.
    The hourly entries and exits should be calculated separately for
    each station (the 'UNIT' column).
    '''
    entries_and_exits.groupby('UNIT')[['ENTRIESn', 'EXITSn']].apply(hourly)
    
    
    return None

In [208]:

subway_df = pd.DataFrame({
    'UNIT': ['R003', 'R003', 'R003', 'R003', 'R003', 'R004', 'R004', 'R004',
             'R004', 'R004'],
    'DATEn': ['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
              '05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11'],
    'hour': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    'ENTRIESn': [ 4388333,  4388348,  4389885,  4391507,  4393043, 14656120,
                 14656174, 14660126, 14664247, 14668301],
    'EXITSn': [ 2911002,  2911036,  2912127,  2913223,  2914284, 14451774,
               14451851, 14454734, 14457780, 14460818],
    'latitude': [ 40.689945,  40.689945,  40.689945,  40.689945,  40.689945,
                  40.69132 ,  40.69132 ,  40.69132 ,  40.69132 ,  40.69132 ],
    'longitude': [-73.872564, -73.872564, -73.872564, -73.872564, -73.872564,
                  -73.867135, -73.867135, -73.867135, -73.867135, -73.867135]
})

weather_df = pd.DataFrame({
    'DATEn': ['05-01-11', '05-01-11', '05-02-11', '05-02-11', '05-03-11',
              '05-03-11', '05-04-11', '05-04-11', '05-05-11', '05-05-11'],
    'hour': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    'latitude': [ 40.689945,  40.69132 ,  40.689945,  40.69132 ,  40.689945,
                  40.69132 ,  40.689945,  40.69132 ,  40.689945,  40.69132 ],
    'longitude': [-73.872564, -73.867135, -73.872564, -73.867135, -73.872564,
                  -73.867135, -73.872564, -73.867135, -73.872564, -73.867135],
    'pressurei': [ 30.24,  30.24,  30.32,  30.32,  30.14,  30.14,  29.98,  29.98,
                   30.01,  30.01],
    'fog': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    'rain': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    'tempi': [ 52. ,  52. ,  48.9,  48.9,  54. ,  54. ,  57.2,  57.2,  48.9,  48.9],
    'wspdi': [  8.1,   8.1,   6.9,   6.9,   3.5,   3.5,  15. ,  15. ,  15. ,  15. ]
})

def combine_dfs(subway_df, weather_df):
    '''
    Fill in this function to take 2 DataFrames, one with subway data and one with weather data,
    and return a single dataframe with one row for each date, hour, and location. Only include
    times and locations that have both subway data and weather data available.
    '''
    out = subway_df.merge(weather_df, on=['DATEn', 'hour', 'latitude', 'longitude'], how='inner')
    return out

In [213]:
subway_df.merge(weather_df, on=['DATEn', 'hour', 'latitude', 'longitude'], how='inner')

,DATEn,ENTRIESn,EXITSn,UNIT,hour,latitude,longitude,fog,pressurei,rain,tempi,wspdi
0,05-01-11,4388333,2911002,R003,0,40.689945,-73.872564,0,30.24,0,52.0,8.1
1,05-02-11,4388348,2911036,R003,0,40.689945,-73.872564,0,30.32,0,48.9,6.9
2,05-03-11,4389885,2912127,R003,0,40.689945,-73.872564,0,30.14,0,54.0,3.5
3,05-04-11,4391507,2913223,R003,0,40.689945,-73.872564,0,29.98,0,57.2,15.0
4,05-05-11,4393043,2914284,R003,0,40.689945,-73.872564,0,30.01,0,48.9,15.0
5,05-01-11,14656120,14451774,R004,0,40.691320,-73.867135,0,30.24,0,52.0,8.1
6,05-02-11,14656174,14451851,R004,0,40.691320,-73.867135,0,30.32,0,48.9,6.9
7,05-03-11,14660126,14454734,R004,0,40.691320,-73.867135,0,30.14,0,54.0,3.5
8,05-04-11,14664247,14457780,R004,0,40.691320,-73.867135,0,29.98,0,57.2,15.0
9,05-05-11,14668301,14460818,R004,0,40.691320,-73.867135,0,30.01,0,48.9,15.0

In [ ]:
values = np.array([1, 3, 2, 4, 1, 6, 4])
example_df = pd.DataFrame({
    'value': values,
    'even': values % 2 == 0,
    'above_three': values > 3 
}, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

# Change False to True for this block of code to see what it does

# groupby() without as_index
if False:
    first_even = example_df.groupby('even').first()
    print first_even
    print first_even['even'] # Causes an error. 'even' is no longer a column in the DataFrame
    
# groupby() with as_index=False
if False:
    print example_df.groupby('even', as_index=False).first()
    print example_df['even'] # Now 'even' is still a column in the DataFrame

filename = 'datasets/nyc_subway_weather.csv'
subway_df = pd.read_csv(filename)

## Make a plot of your choice here showing something interesting about the subway data.
## Matplotlib documentation here: http://matplotlib.org/api/pyplot_api.html
## Once you've got something you're happy with, share it on the forums!